@font-face {
    font-family: 'RoundedFixedsys';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

body { 
    display: flex;
    margin: 0px;
    padding: 0px;
    background-color: blue;
    color: white;
    font-family: 'RoundedFixedsys';
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

.box-1 {
    font-size: 64px;
}

.box-2 {
    font-family: 'RoundedFixedsys';
    margin-top: 32px;
    padding: 10px;
    background: blue;
    color: white;
    font-size: 44px;
}

.option {
    font-family: 'RoundedFixedsys';
    left: 0;
    bottom: 0;
    position: absolute;
    font-size: 32px;
    margin: 28px;
    padding: 5px;
    background: blue;
    color: white;
}