@font-face {
    font-family: 'RoundedFixedsys';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

body { 
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    background-color: blue;
    color: white;
    font-family: 'RoundedFixedsys';
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.box-1 {
    font-size: 64px;
}

.box-2 {
    font-size: 32px;
}

.version-info{
    position: absolute;
    top: 16px;
    right: 4px;
}

.copytight-info{
    position: absolute;
    bottom: 0px;
    left: 4px;
}